body {
  background: #fff;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  margin: 1em; }

body {
  background: #fff;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  margin: 1em; }

h1 {
  font-size: 36px;
  font-family: georgia, serif; }

h2 {
  font-size: 16px;
  font-family: helvetica, sans-serif; }
